body {
    background-color: #f8efef;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    border-radius: 15px;
}

.First {
    margin: 40px;
    display: grid;
}

button img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.second img {
    height: 500px;
    width: 380px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 20px;
}

input {
    height: 40px;
    padding-left: 15px;
}

.btn button {
    background-color: blue;
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 255, 0.359);
    margin-left: 102px;
    word-spacing: 10px;
}

.line {
    text-decoration: none;
}

.lol {
    padding-top: 30px;
    text-align: center;
    color: gray;
}

.btn {
    margin-top: 10px;
}

.icons button {
    width: 150px;
    margin-left: 8px;
    height: 40px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
}

.last {
    display: grid;
    text-align: center;
}

